<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="rest-api-myapi.ZPM">
    <Module>
      <Name>rest-api-template</Name>
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="MyApp.PKG"/>
      <Security>
        <!-- Указываем роли для неаутентифицированных пользователей -->
        <ApplicationRole>
          <Name>UnknownUser</Name>
          <!-- Предоставляем доступ к нужным таблицам -->
          <Resource Type="Table" Name="MyApp.Users" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.Boards" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.BoardAccess" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.Cards" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.Lists" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.Permissions" Permission="RW"/>
          <Resource Type="Table" Name="MyApp.Tokens" Permission="RW"/>
          <!-- Добавьте остальные таблицы по мере необходимости -->
        </ApplicationRole>
      </Security>
      <Dependencies>
        <ModuleReference>
          <Name>swagger-ui</Name>
          <Version>1.*.*</Version>
        </ModuleReference>
      </Dependencies>
       <CSPApplication 
        Url="/myapi"
        DispatchClass="MyApp.ApiHandler"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="1"
        Recurse="1"
        UseCookies="0"
        CookiePath=""
       />
    </Module>
    
  </Document>
</Export>